:root {
    --ion-color-new: #36393e;
    --ion-color-new-rgb: 105, 187, 123;
    --ion-color-new-contrast: #ffffff;
    --ion-color-new-contrast-rgb: 255, 255, 255;
    --ion-color-new-shade: #5ca56c;
    --ion-color-new-tint: #78c288;

    --ion-color-success: #91bd3a;
    --ion-color-success-rgb: 145, 189, 58;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #80a633;
    --ion-color-success-tint: #9cc44e;

    --ion-color-warning: #ffbb00;
    --ion-color-warning-rgb: 255, 187, 0;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0a500;
    --ion-color-warning-tint: #ffc21a;

    --ion-color-danger: #d72828;
    --ion-color-danger-rgb: 215, 40, 40;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #bd2323;
    --ion-color-danger-tint: #db3e3e;
}

.ion-color-new {
    --ion-color-base: var(--ion-color-new);
    --ion-color-base-rgb: var(--ion-color-new-rgb);
    --ion-color-contrast: var(--ion-color-new-contrast);
    --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
    --ion-color-shade: var(--ion-color-new-shade);
    --ion-color-tint: var(--ion-color-new-tint);
}

.responsive-width {
    width: 90%;
    max-width: 600px;
}

.darken-on-hover:hover {
    filter: brightness(90%);
}

.ion-modal .modal-wrapper {
    height: 15%;
    min-height: 250px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

.ion-segment {
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    margin: auto;
    background: gray;
}

.ion-segment-button {
    width: 90%;
}
