:root {
    --ion-color-new: #36393e;
    --ion-color-new-rgb: 105, 187, 123;
    --ion-color-new-contrast: #ffffff;
    --ion-color-new-contrast-rgb: 255, 255, 255;
    --ion-color-new-shade: #5ca56c;
    --ion-color-new-tint: #78c288;
}

.ion-color-new {
    --ion-color-base: var(--ion-color-new);
    --ion-color-base-rgb: var(--ion-color-new-rgb);
    --ion-color-contrast: var(--ion-color-new-contrast);
    --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
    --ion-color-shade: var(--ion-color-new-shade);
    --ion-color-tint: var(--ion-color-new-tint);
}

.responsive-width {
    width: 90%;
    max-width: 600px;
}

.ion-title{
  font-size: 10em;
}